# Environments
venv/
env/
.env

# Python Caches
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter
.ipynb_checkpoints/

# Data and Models
# (We ignore these so we don't accidentally push giant data frames or multi-gigabyte models to GitHub)
data/processed/
/models/
logs/
results/metrics/
results/figures/

# macOS
.DS_Store
