# Environments
venv/
env/
.env

# Python Caches
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter
.ipynb_checkpoints/

# Data and Models
# (We ignore these so we don't accidentally push giant data frames or multi-gigabyte models to GitHub)
data/processed/
/models/
logs/
results/metrics/
results/figures/

# LaTeX build artifacts
*.aux
*.bbl
*.blg
*.log
*.out
*.fls
*.fdb_latexmk
*.synctex.gz

# ACL paper folder
acl-style-files-master/

# Report & presentation files
results/*.md
results/*.pdf

# macOS
.DS_Store
